<%- include('../_layouts/adminheader') %>
  <div class="container">
    <%- messages('messages', locals) %></div>

  <br><br>
<h2 class="page-title">Add a category</h2>
<a href="/admin/categories" class="btn btn-primary">Back to all categories</a>
<br><br>

<form method="post" action="/admin/categories/add-category"  >
  <div class = "fieldset">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%- title %>" placeholder="Title">
    </div>
 <br>
    <button class="btn btn-primary">Submit</button>
</form>
<%- include('../_layouts/adminfooter') %>
