<% include _layouts/header %>
<br><br>

<div class="row">
    <div class = "col-xs-12 col-md-3">
        <h3>Categories</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="/products">All products</a></li>
            <% categories.forEach(function(c){ %>
            <li class="list-group-item"><a href="/products/<%= c.slug %>"><%= c.title %></a></li>
            <% }); %>
        </ul>
    </div>
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-8">

    </div>

</div>

<% include _layouts/footer %>